<div class="py-4 px-4 actions text-right mb-4">
  <%= link_to 'New Task', new_task_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
</div>

<div>
  <% if @tasks.empty? %>
    <p class="text-center text-gray-500">No tasks found for the specified filters.</p>
  <% else %>
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <div id="kanban-board" class="flex justify-between space-x-4">
        <div class="kanban-column flex-1 bg-gray-100 rounded-md p-4">
          <h2 class="text-center text-lg font-semibold mb-2">Backlog</h2>
          <div id="backlog" class="kanban-list min-h-[200px] space-y-2">
            <% @backlog_tasks.each do |task| %>
              <%= render 'task_card', task: task %>
            <% end %>
          </div>
        </div>
        <div class="kanban-column flex-1 bg-gray-100 rounded-md p-4">
          <h2 class="text-center text-lg font-semibold mb-2">In Progress</h2>
          <div id="in_progress" class="kanban-list min-h-[200px] space-y-2">
            <% @in_progress_tasks.each do |task| %>
              <%= render 'task_card', task: task %>
            <% end %>
          </div>
        </div>
        <div class="kanban-column flex-1 bg-gray-100 rounded-md p-4">
          <h2 class="text-center text-lg font-semibold mb-2">Done</h2>
          <div id="done" class="kanban-list min-h-[200px] space-y-2">
            <% @completed_tasks.each do |task| %>
              <%= render 'task_card', task: task %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div id="taskModal" class="fixed inset-0 z-50 hidden overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="relative w-full max-w-2xl p-4 bg-white rounded-lg shadow-lg">
      <div class="flex justify-between items-center pb-4 border-b">
        <h3 class="text-lg font-semibold" id="modalTitle"></h3>
        <button id="closeModal" class="text-gray-500 hover:text-gray-800">&times;</button>
      </div>
      <div id="modalContent" class="pt-4"></div>
    </div>
  </div>
</div>